/JesusEDesus/nbproject/private/
/JesusEDesus/build/
/JesusCristoJavaFX/nbproject/private/
/JesusCristoJavaFX/build/
/JesusCristoJavaFX/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TestesTipos/nbproject/private/
/TestesTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculadoraidade/nbproject/private/
/calculadoraidade/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/CursoJava/nbproject/private/
/CursoJava/build/
/Projeto2/nbproject/private/
/Projeto2/build/
/projeto3/nbproject/private/
/Projeto3/nbproject/private/
/Eventos/nbproject/private/
/Eventos/build/
/Eventos/dist/
/ImagemLabel/nbproject/private/
/ImagemLabel/build/
/Aula4/nbproject/private/
/Aula4/build/
/prjinfoX/nbproject/private/
/prjinfoX/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/ComparçãoString/nbproject/private/
/ComparçãoString/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/