/JesusEDesus/nbproject/private/
/JesusEDesus/build/
/JesusCristoJavaFX/nbproject/private/
/JesusCristoJavaFX/build/
/JesusCristoJavaFX/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TestesTipos/nbproject/private/
/TestesTipos/build/